<div id="blog_text_widget" style="z-index: 99999999 !important" class="w-72 border border-2 border-black shadow-xl rounded-md absolute bg-white">

    <div id='form_holder'>
        <form class="new_message space-y-2" id="new_message" action="<%= ENV['BASE_URL'] %>/messages" method="POST">
            
            <div class="flex py-6 items-center gap-x-2 p-4 rounded-t-md blog_text_widget_background_color">
                <span id="blog_text_widget_hide_form_button" class="absolute right-2 top-0 text-md cursor-pointer">x</span>
                <div>
                    <img src="http://via.placeholder.com/60x60" class="rounded-full" alt="">
                </div>

                <div>
                    <span id="blog_text_widget_welcome_message"></span>
                </div>
                
            </div>
            <input type="hidden" id="client_id" name="client_id" value="">
            <div class="p-4">
                <div>
                    <label for="message_name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                    <div class="mt-1 mb-2">
                        <input id="message_name" name="message[name]" type="text" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <label for="message_email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                    <div class="mt-1 mb-2">
                        <input id="message_email" name="message[email]" type="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <label for="message_content" class="block text-sm font-medium leading-6 text-gray-900">Message</label>
                    <div class="mt-1 mb-2">
                    <textarea rows="6" id="message_content" name="message[content]" type="content" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                    </div>
                </div>

                <div>
                    <button type="submit" id="message_submit" class="mt-4 flex w-full justify-center rounded-md py-2 px-3 text-sm blog_text_widget_background_color font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Send!</button>
                </div>
            </div>
                
        </form>
    </div>


</div>